In [29]:
import pandas as pd
import dotenv
import openai
import os

pd.options.display.max_colwidth = 300

In [6]:
titles = [
    "The Dark Knight",
    "Forrest Gump",
    "Interstellar",
    "Joker",
    "Lion King",
    "Lord Of The Rings",
    "The Good, The Bad And The Ugly",
    "WALL-E",
]

In [7]:
plots = [
    "When the menace known as the Joker wreaks havoc and chaos on the people of Gotham, Batman must accept one of the greatest psychological and physical tests of his ability to fight injustice.",
    "The presidencies of Kennedy and Johnson, the Vietnam War, the Watergate scandal and other historical events unfold from the perspective of an Alabama man with an IQ of 75, whose only desire is to be reunited with his childhood sweetheart.",
    "A team of explorers travel through a wormhole in space in an attempt to ensure humanity's survival.",
    "In Gotham City, mentally troubled comedian Arthur Fleck is disregarded and mistreated by society. He then embarks on a downward spiral of revolution and bloody crime. This path brings him face-to-face with his alter-ego: the Joker.",
    "Lion prince Simba and his father are targeted by his bitter uncle, who wants to ascend the throne himself.",
    "A meek Hobbit from the Shire and eight companions set out on a journey to destroy the powerful One Ring and save Middle-earth from the Dark Lord Sauron.",
    "A bounty hunting scam joins two men in an uneasy alliance against a third in a race to find a fortune in gold buried in a remote cemetery.",
    "In the distant future, a small waste-collecting robot inadvertently embarks on a space journey that will ultimately decide the fate of mankind.",
]

In [31]:
df = pd.DataFrame({
    'titles': titles,
    'plots': plots,
})

In [32]:
df

,titles,plots
0,The Dark Knight,"When the menace known as the Joker wreaks havoc and chaos on the people of Gotham, Batman must accept one of the greatest psychological and physical tests of his ability to fight injustice."
1,Forrest Gump,"The presidencies of Kennedy and Johnson, the Vietnam War, the Watergate scandal and other historical events unfold from the perspective of an Alabama man with an IQ of 75, whose only desire is to be reunited with his childhood sweetheart."
2,Interstellar,A team of explorers travel through a wormhole in space in an attempt to ensure humanity's survival.
3,Joker,"In Gotham City, mentally troubled comedian Arthur Fleck is disregarded and mistreated by society. He then embarks on a downward spiral of revolution and bloody crime. This path brings him face-to-face with his alter-ego: the Joker."
4,Lion King,"Lion prince Simba and his father are targeted by his bitter uncle, who wants to ascend the throne himself."
5,Lord Of The Rings,A meek Hobbit from the Shire and eight companions set out on a journey to destroy the powerful One Ring and save Middle-earth from the Dark Lord Sauron.
6,"The Good, The Bad And The Ugly",A bounty hunting scam joins two men in an uneasy alliance against a third in a race to find a fortune in gold buried in a remote cemetery.
7,WALL-E,"In the distant future, a small waste-collecting robot inadvertently embarks on a space journey that will ultimately decide the fate of mankind."

In [21]:
dotenv.load_dotenv(override=True)
openai.api_key = os.getenv("OPENAI_API_KEY")

In [43]:
docs = plots
query = "Epic adventure"
engine = "babbage"

response = openai.Engine(engine).search(
    documents=docs, 
    query=query,
    max_rerank=None,
    return_metadata=True
)

scores = [x["score"] for x in response["data"]]

df_scores = pd.DataFrame({
    'scores': scores,
    'titles': titles,
    'plots': plots,
})

In [53]:
df_scores

,scores,titles,plots
0,-3.392,The Dark Knight,"When the menace known as the Joker wreaks havoc and chaos on the people of Gotham, Batman must accept one of the greatest psychological and physical tests of his ability to fight injustice."
1,76.133,Forrest Gump,"The presidencies of Kennedy and Johnson, the Vietnam War, the Watergate scandal and other historical events unfold from the perspective of an Alabama man with an IQ of 75, whose only desire is to be reunited with his childhood sweetheart."
2,143.105,Interstellar,A team of explorers travel through a wormhole in space in an attempt to ensure humanity's survival.
3,2.592,Joker,"In Gotham City, mentally troubled comedian Arthur Fleck is disregarded and mistreated by society. He then embarks on a downward spiral of revolution and bloody crime. This path brings him face-to-face with his alter-ego: the Joker."
4,65.749,Lion King,"Lion prince Simba and his father are targeted by his bitter uncle, who wants to ascend the throne himself."
5,101.559,Lord Of The Rings,A meek Hobbit from the Shire and eight companions set out on a journey to destroy the powerful One Ring and save Middle-earth from the Dark Lord Sauron.
6,138.174,"The Good, The Bad And The Ugly",A bounty hunting scam joins two men in an uneasy alliance against a third in a race to find a fortune in gold buried in a remote cemetery.
7,139.195,WALL-E,"In the distant future, a small waste-collecting robot inadvertently embarks on a space journey that will ultimately decide the fate of mankind."

In [48]:
docs = plots
query = "Epic adventure"
engine = "davinci"

response = openai.Engine(engine).search(
    documents=docs, 
    query=query,
    max_rerank=None,
    return_metadata=True
)

scores = [x["score"] for x in response["data"]]

df_scores2 = pd.DataFrame({
    'scores': scores,
    'titles': titles,
    'plots': plots,
})

In [51]:
response

<OpenAIObject list at 0x7fead7312f40> JSON: {
  "data": [
    {
      "document": 0,
      "object": "search_result",
      "score": -3.392
    },
    {
      "document": 1,
      "object": "search_result",
      "score": 76.133
    },
    {
      "document": 2,
      "object": "search_result",
      "score": 143.105
    },
    {
      "document": 3,
      "object": "search_result",
      "score": 2.592
    },
    {
      "document": 4,
      "object": "search_result",
      "score": 65.749
    },
    {
      "document": 5,
      "object": "search_result",
      "score": 101.559
    },
    {
      "document": 6,
      "object": "search_result",
      "score": 138.174
    },
    {
      "document": 7,
      "object": "search_result",
      "score": 139.195
    }
  ],
  "model": "babbage:2020-05-03",
  "object": "list"
}

In [52]:
df_scores2

,scores,titles,plots
0,113.434,The Dark Knight,"When the menace known as the Joker wreaks havoc and chaos on the people of Gotham, Batman must accept one of the greatest psychological and physical tests of his ability to fight injustice."
1,23.743,Forrest Gump,"The presidencies of Kennedy and Johnson, the Vietnam War, the Watergate scandal and other historical events unfold from the perspective of an Alabama man with an IQ of 75, whose only desire is to be reunited with his childhood sweetheart."
2,226.836,Interstellar,A team of explorers travel through a wormhole in space in an attempt to ensure humanity's survival.
3,-0.718,Joker,"In Gotham City, mentally troubled comedian Arthur Fleck is disregarded and mistreated by society. He then embarks on a downward spiral of revolution and bloody crime. This path brings him face-to-face with his alter-ego: the Joker."
4,255.780,Lion King,"Lion prince Simba and his father are targeted by his bitter uncle, who wants to ascend the throne himself."
5,227.095,Lord Of The Rings,A meek Hobbit from the Shire and eight companions set out on a journey to destroy the powerful One Ring and save Middle-earth from the Dark Lord Sauron.
6,137.483,"The Good, The Bad And The Ugly",A bounty hunting scam joins two men in an uneasy alliance against a third in a race to find a fortune in gold buried in a remote cemetery.
7,208.001,WALL-E,"In the distant future, a small waste-collecting robot inadvertently embarks on a space journey that will ultimately decide the fate of mankind."

In [ ]:
docs = plots
query = "Epic adventure"
engine = "davinci"

response = openai.Engine(engine).search(
    documents=docs, 
    query=query,
    max_rerank=None,
    return_metadata=True
)

scores = [x["score"] for x in response["data"]]

df_scores3 = pd.DataFrame({
    'scores': scores,
    'titles': titles,
    'plots': plots,
})